.Home .lander {
  padding: 60px 0;
  text-align: center;
}

.Home .lander .center {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}

input.form-control {
  font-size: 16px;
}

/* Change padding on phones */
@media all and (min-width: 480px) {
  .Home {
    padding: 60px 0;
  }

  .Home form {
    margin: 0 auto;
    max-width: 320px;
  }
}